[submodule "ThirdParty/GLFW"]
	path = ThirdParty/GLFW
	url = https://github.com/glfw/glfw
[submodule "ThirdParty/VulkanMemoryAllocator"]
	path = ThirdParty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
